canvas {
    width: 100%;
    height: 180%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}
p{
    position: relative;
    width: 70%;
}
a{
    color: aliceblue;
    position: relative;
    width: 70%;
}

.introduction{
    display: block;
}
.introduce{
    color:aliceblue;
}
.block{
    position: relative;
    width: 70%;
    left: 15%;
    
}
#gerenjieshao{
    margin-top: 10px;
}